<a href="https://colab.research.google.com/github/JayanthPrudhivi6/JayanthPrudhivi_INFO5502_Spring2022/blob/main/info5502assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [20]:
# (1) Write a Python program to count the number of characters in a string. (5 points)

#Sample String : 'google.com',

#Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}
#write your answer here

import operator #operator module is imported to return dictionary in descending order by values
def solve(string_): #creating a user defined function
  dic={}
  keys =dic.keys()
  for i in string_:
    if i not in keys:
     dic[i] = 1
    else:
     dic[i] += 1
  return dict(sorted(dic.items(),key = operator.itemgetter(1),reverse=True)) #returns dictionary in descending order by value
print(solve(str(input("enter a string"))))

enter a stringgoogle.com
{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [22]:
#(2) Write a Python program to sum all the items in a list.
# write your answer here
n=int(input("Enter the number of elements ")) #taking size of list as input
list_=list(map(int,input().split()))[:n] #this line will take input as list
print(sum(list_)) #inbuilt function sum is used

Enter the number of elements 5
1 2 3 4 10
20

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [23]:
#(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. (5 points)

#Sample String : 'restart',

#Expected Result : 'resta$t' 
#write your answer here
str_=str(input(" Enter the string "))
a=str_[0] ##this is the first letter of the string as we are assigning first character of string to variable a
print(a+str_[1:].replace(a,'$',len(str_)))#from second letter we are replacing next occurence of first letter instance with $

 Enter the string restart
resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [24]:
#(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

 #S=3.14‚àó(1+a/b)3

# write your answer here
def caluc_(a,b):
    S=3.14*(1+ùëé/ùëè)**3
    return S
    
a,b=list(map(int,input("Enetr any two values here ").split()))# we are taking two numbers as input from the user.Then splitting and 
                                                                  #assigning to two variable (a,b)
print(caluc_(a,b))

Enetr any two values here 2 3
14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [25]:
'''(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}'''

#write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict_ = {}
#we are running the for loop,and for each iteration we are updating the dict_.update in dictionary ,will add new items to existing one
for d in [dic1, dic2, dic3]:
  dict_.update(d)
dict_

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [26]:
# (6) Write a Python program to check whether an element exists within a tuple.
#write your answer here

d=tuple(map(int,input("enter the elements").split()))#taking input from user and splitting them to store in tuple format
n=int(input("enter the number to check in the tuple"))#taking input to check whether it  present in tuple or not
if n in d:
    print("yes",n,"is present in tuple")
else:    
    print("No\n",n,'is not present in tuple')

enter the elements5 6 1 55 22
enter the number to check in the tuple2
No
 2 is not present in tuple

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [27]:
# (7) Write a Python program to find maximum and the minimum value in a set.

#write your answer here

Set_=set(map(int,input("enter the elements").split()))
print('maximum element',max(Set_))#max function inpython will give the maximum value
print('minimum element',min(Set_))#min function inpython will give the minimum value

enter the elements1 22 6 7 99
maximum element 99
minimum element 1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [28]:
'''(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232'] 

write your answer here'''


import random 
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
print("The length of the list is",len(studnet_list))#since the length of the list is 30,and we need to make 6 groups from it.(30/6)=5
#so for each grup we can put 5 students.

n=6
d=random.shuffle(studnet_list) #shuffle() is an inbuilt method of the random module. It is used to shuffle a (list)
[studnet_list[x::n] for x in range(n)] #returns groups which are shuffled

The length of the list is 30

[['vm0377', 'nm0618', 'fh0141', 'sk1386', 'sm1907'],
 ['aos0040', 'kg0470', 'sb1357', 'bg0320', 'ak0934'],
 ['ja0964', 'pr0353', 'jl1252', 'gn0108', 'ds0814'],
 ['sa1198', 'ak0956', 'hy0232', 'dr0609', 'av0659'],
 ['vb0218', 'sk1390', 'sm1640', 'ms1500', 'nv0234'],
 ['sg1297', 'sk1313', 'sk1458', 'sc1229', 'kg0569']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [29]:
#(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. 
#write your answer here
def duplicate_(list1):
    set1_=set(list1)#type conversion takes places from list to set
    if len(list1)==len(set1_):#set in python wont store duplicate value
        return -1  #if list is not having any duplicate values,its length will be equal to length of set 
    else:
        return 1
list1=list(map(int,input("Enter the elements in the array").split()))
print(duplicate_(list1))

Enter the elements in the array1 2 99 8 74
-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [30]:
#(10) Write a Python program to select all the Sundays of a specified year 
#write your answer here
import pandas as pd


def sundays_(y):
    year=str(y)+'-01-01'  #year-month-date
    no_of_sundays_=52
    day="W-"+"SUN"  
    return pd.Series(pd.date_range(year,periods=52,freq=day))#mostly there will be 52 sundays.so i took periods=52
#i took pandas documenation as reference for this question
#pd.series will convert the output to pandas series format
y=int(input("enter the year"))                               
sundays_(y)

enter the year2022

0    2022-01-02
1    2022-01-09
2    2022-01-16
3    2022-01-23
4    2022-01-30
5    2022-02-06
6    2022-02-13
7    2022-02-20
8    2022-02-27
9    2022-03-06
10   2022-03-13
11   2022-03-20
12   2022-03-27
13   2022-04-03
14   2022-04-10
15   2022-04-17
16   2022-04-24
17   2022-05-01
18   2022-05-08
19   2022-05-15
20   2022-05-22
21   2022-05-29
22   2022-06-05
23   2022-06-12
24   2022-06-19
25   2022-06-26
26   2022-07-03
27   2022-07-10
28   2022-07-17
29   2022-07-24
30   2022-07-31
31   2022-08-07
32   2022-08-14
33   2022-08-21
34   2022-08-28
35   2022-09-04
36   2022-09-11
37   2022-09-18
38   2022-09-25
39   2022-10-02
40   2022-10-09
41   2022-10-16
42   2022-10-23
43   2022-10-30
44   2022-11-06
45   2022-11-13
46   2022-11-20
47   2022-11-27
48   2022-12-04
49   2022-12-11
50   2022-12-18
51   2022-12-25
dtype: datetime64[ns]