<a href="https://colab.research.google.com/github/JayanthPrudhivi6/JayanthPrudhivi_INFO5502_Spring2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [24]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Domain problem: 
- Here Domain problem is to explore the movie that have top IMDB rating.

- The Research Question is to scrap the movies data from the imdb website. 
   . Here we retrieve the top rated movies. 
   .So, we can analyse the movies based on its ratings whether it is good or bad.
 

Data needed to answer the questions:
The following attributes are required to answer the research question
. MovieName
. Ratings



We collected the data from the following link:https://www.imdb.com/chart/top/


Steps for collecting and saving the data:
- Here, We used web scraping technique to scrape the data.
- Web Scraping is done by using BeautifulSoup library from IMDB website which has multiple pages.
- We scrap through each page and retrieve information which is required.
- The MovieName,Ratings details are obtained from the HTML script which obtained after inspecting the page.
- We parse the details based on elements in the html code and then store the data in a csv format.
- The CSV format is the prepared data after webscraping.


'''

'\nPlease write you answer here:\n\nDomain problem: \n- Here Domain problem is to explore the movie that have top IMDB rating.\n\n- The Research Question is to scrap the movies data from the imdb website. \n   . Here we retrieve the top rated movies. \n   .So, we can analyse the movies based on its ratings whether it is good or bad.\n \n\nData needed to answer the questions:\nThe following attributes are required to answer the research question\n. MovieName\n. Ratings\n\n\n\nWe collected the data from the following link:https://www.imdb.com/chart/top/\n\n\nSteps for collecting and saving the data:\n- Here, We used web scraping technique to scrape the data.\n- Web Scraping is done by using BeautifulSoup library from IMDB website which has multiple pages.\n- We scrap through each page and retrieve information which is required.\n- The MovieName,Ratings details are obtained from the HTML script which obtained after inspecting the page.\n- We parse the details based on elements in the html code and then store the data in a csv format.\n- The CSV format is the prepared data after webscraping.\n\n\n'

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [25]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [26]:
url = "https://www.imdb.com/chart/top/"
page = requests.get(url)
page
soup = BeautifulSoup(page.content, "html.parser")

In [39]:
#print(soup.prettify)# to get a html clear page

In [28]:
# scrap movie names
scraped_movies = soup.find_all('td', class_='titleColumn')
scraped_movies

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>, <td class="titleColumn">
       3.
       <a href="/title/tt0468569/" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight</a>
 <span class="secondaryInfo">(2008)</span>
 </td>, <td class="titleColumn">
       4.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather: Part II</a>
 <span class="secondaryInfo">(1974)</span>
 </td>, <td class="titleColumn">
       5.
       <a href="/title/tt0050083/" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       6.
       <a href="/title/tt0108052/" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">Schindler's List</a>
 <span class="secondaryInfo">(1993)</span>
 </td>, <td class="titleColumn">
       7.
       <a href="/title/tt0167260/" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">The Lord of the Rings: The Return of the King</a>
 <span class="secondaryInfo">(2003)</span>
 </td>, <td class="titleColumn">
       8.
       <a href="/title/tt0110912/" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       9.
       <a href="/title/tt0120737/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Fellowship of the Ring</a>
 <span class="secondaryInfo">(2001)</span>
 </td>, <td class="titleColumn">
       10.
       <a href="/title/tt0060196/" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">The Good, the Bad and the Ugly</a>
 <span class="secondaryInfo">(1966)</span>
 </td>, <td class="titleColumn">
       11.
       <a href="/title/tt0109830/" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       12.
       <a href="/title/tt0137523/" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       13.
       <a href="/title/tt1375666/" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
 <span class="secondaryInfo">(2010)</span>
 </td>, <td class="titleColumn">
       14.
       <a href="/title/tt0167261/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Two Towers</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       15.
       <a href="/title/tt0080684/" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode V - The Empire Strikes Back</a>
 <span class="secondaryInfo">(1980)</span>
 </td>, <td class="titleColumn">
       16.
       <a href="/title/tt0133093/" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">The Matrix</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       17.
       <a href="/title/tt0099685/" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Goodfellas</a>
 <span class="secondaryInfo">(1990)</span>
 </td>, <td class="titleColumn">
       18.
       <a href="/title/tt0073486/" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">One Flew Over the Cuckoo's Nest</a>
 <span class="secondaryInfo">(1975)</span>
 </td>, <td class="titleColumn">
       19.
       <a href="/title/tt0114369/" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Se7en</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       20.
       <a href="/title/tt0047478/" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Seven Samurai</a>
 <span class="secondaryInfo">(1954)</span>
 </td>, <td class="titleColumn">
       21.
       <a href="/title/tt0038650/" title="Frank Capra (dir.), James Stewart, Donna Reed">It's a Wonderful Life</a>
 <span class="secondaryInfo">(1946)</span>
 </td>, <td class="titleColumn">
       22.
       <a href="/title/tt0102926/" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">The Silence of the Lambs</a>
 <span class="secondaryInfo">(1991)</span>
 </td>, <td class="titleColumn">
       23.
       <a href="/title/tt0120815/" title="Steven Spielberg (dir.), Tom Hanks, Matt Damon">Saving Private Ryan</a>
 <span class="secondaryInfo">(1998)</span>
 </td>, <td class="titleColumn">
       24.
       <a href="/title/tt0317248/" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">City of God</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       25.
       <a href="/title/tt0118799/" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">Life Is Beautiful</a>
 <span class="secondaryInfo">(1997)</span>
 </td>, <td class="titleColumn">
       26.
       <a href="/title/tt0120689/" title="Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan">The Green Mile</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       27.
       <a href="/title/tt0076759/" title="George Lucas (dir.), Mark Hamill, Harrison Ford">Star Wars</a>
 <span class="secondaryInfo">(1977)</span>
 </td>, <td class="titleColumn">
       28.
       <a href="/title/tt0816692/" title="Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway">Interstellar</a>
 <span class="secondaryInfo">(2014)</span>
 </td>, <td class="titleColumn">
       29.
       <a href="/title/tt0103064/" title="James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton">Terminator 2: Judgment Day</a>
 <span class="secondaryInfo">(1991)</span>
 </td>, <td class="titleColumn">
       30.
       <a href="/title/tt0088763/" title="Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd">Back to the Future</a>
 <span class="secondaryInfo">(1985)</span>
 </td>, <td class="titleColumn">
       31.
       <a href="/title/tt0245429/" title="Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette">Spirited Away</a>
 <span class="secondaryInfo">(2001)</span>
 </td>, <td class="titleColumn">
       32.
       <a href="/title/tt0054215/" title="Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh">Psycho</a>
 <span class="secondaryInfo">(1960)</span>
 </td>, <td class="titleColumn">
       33.
       <a href="/title/tt0253474/" title="Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann">The Pianist</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       34.
       <a href="/title/tt0110413/" title="Luc Besson (dir.), Jean Reno, Gary Oldman">Léon: The Professional</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       35.
       <a href="/title/tt6751668/" title="Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee">Parasite</a>
 <span class="secondaryInfo">(2019)</span>
 </td>, <td class="titleColumn">
       36.
       <a href="/title/tt0110357/" title="Roger Allers (dir.), Matthew Broderick, Jeremy Irons">The Lion King</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       37.
       <a href="/title/tt0172495/" title="Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix">Gladiator</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       38.
       <a href="/title/tt0120586/" title="Tony Kaye (dir.), Edward Norton, Edward Furlong">American History X</a>
 <span class="secondaryInfo">(1998)</span>
 </td>, <td class="titleColumn">
       39.
       <a href="/title/tt0114814/" title="Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne">The Usual Suspects</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       40.
       <a href="/title/tt0407887/" title="Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon">The Departed</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       41.
       <a href="/title/tt0482571/" title="Christopher Nolan (dir.), Christian Bale, Hugh Jackman">The Prestige</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       42.
       <a href="/title/tt0034583/" title="Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman">Casablanca</a>
 <span class="secondaryInfo">(1942)</span>
 </td>, <td class="titleColumn">
       43.
       <a href="/title/tt2582802/" title="Damien Chazelle (dir.), Miles Teller, J.K. Simmons">Whiplash</a>
 <span class="secondaryInfo">(2014)</span>
 </td>, <td class="titleColumn">
       44.
       <a href="/title/tt1675434/" title="Olivier Nakache (dir.), François Cluzet, Omar Sy">The Intouchables</a>
 <span class="secondaryInfo">(2011)</span>
 </td>, <td class="titleColumn">
       45.
       <a href="/title/tt0027977/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">Modern Times</a>
 <span class="secondaryInfo">(1936)</span>
 </td>, <td class="titleColumn">
       46.
       <a href="/title/tt0064116/" title="Sergio Leone (dir.), Henry Fonda, Charles Bronson">Once Upon a Time in the West</a>
 <span class="secondaryInfo">(1968)</span>
 </td>, <td class="titleColumn">
       47.
       <a href="/title/tt0056058/" title="Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama">Hara-Kiri</a>
 <span class="secondaryInfo">(1962)</span>
 </td>, <td class="titleColumn">
       48.
       <a href="/title/tt0095327/" title="Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi">Grave of the Fireflies</a>
 <span class="secondaryInfo">(1988)</span>
 </td>, <td class="titleColumn">
       49.
       <a href="/title/tt0078748/" title="Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt">Alien</a>
 <span class="secondaryInfo">(1979)</span>
 </td>, <td class="titleColumn">
       50.
       <a href="/title/tt0047396/" title="Alfred Hitchcock (dir.), James Stewart, Grace Kelly">Rear Window</a>
 <span class="secondaryInfo">(1954)</span>
 </td>, <td class="titleColumn">
       51.
       <a href="/title/tt0021749/" title="Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill">City Lights</a>
 <span class="secondaryInfo">(1931)</span>
 </td>, <td class="titleColumn">
       52.
       <a href="/title/tt0209144/" title="Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss">Memento</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       53.
       <a href="/title/tt0095765/" title="Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale">Cinema Paradiso</a>
 <span class="secondaryInfo">(1988)</span>
 </td>, <td class="titleColumn">
       54.
       <a href="/title/tt0078788/" title="Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando">Apocalypse Now</a>
 <span class="secondaryInfo">(1979)</span>
 </td>, <td class="titleColumn">
       55.
       <a href="/title/tt0082971/" title="Steven Spielberg (dir.), Harrison Ford, Karen Allen">Indiana Jones and the Raiders of the Lost Ark</a>
 <span class="secondaryInfo">(1981)</span>
 </td>, <td class="titleColumn">
       56.
       <a href="/title/tt1853728/" title="Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz">Django Unchained</a>
 <span class="secondaryInfo">(2012)</span>
 </td>, <td class="titleColumn">
       57.
       <a href="/title/tt0910970/" title="Andrew Stanton (dir.), Ben Burtt, Elissa Knight">WALL·E</a>
 <span class="secondaryInfo">(2008)</span>
 </td>, <td class="titleColumn">
       58.
       <a href="/title/tt0405094/" title="Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck">The Lives of Others</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       59.
       <a href="/title/tt0043014/" title="Billy Wilder (dir.), William Holden, Gloria Swanson">Sunset Blvd.</a>
 <span class="secondaryInfo">(1950)</span>
 </td>, <td class="titleColumn">
       60.
       <a href="/title/tt0081505/" title="Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall">The Shining</a>
 <span class="secondaryInfo">(1980)</span>
 </td>, <td class="titleColumn">
       61.
       <a href="/title/tt0050825/" title="Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker">Paths of Glory</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       62.
       <a href="/title/tt0032553/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">The Great Dictator</a>
 <span class="secondaryInfo">(1940)</span>
 </td>, <td class="titleColumn">
       63.
       <a href="/title/tt4154756/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth">Avengers: Infinity War</a>
 <span class="secondaryInfo">(2018)</span>
 </td>, <td class="titleColumn">
       64.
       <a href="/title/tt0051201/" title="Billy Wilder (dir.), Tyrone Power, Marlene Dietrich">Witness for the Prosecution</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       65.
       <a href="/title/tt0090605/" title="James Cameron (dir.), Sigourney Weaver, Michael Biehn">Aliens</a>
 <span class="secondaryInfo">(1986)</span>
 </td>, <td class="titleColumn">
       66.
       <a href="/title/tt0169547/" title="Sam Mendes (dir.), Kevin Spacey, Annette Bening">American Beauty</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       67.
       <a href="/title/tt1345836/" title="Christopher Nolan (dir.), Christian Bale, Tom Hardy">The Dark Knight Rises</a>
 <span class="secondaryInfo">(2012)</span>
 </td>, <td class="titleColumn">
       68.
       <a href="/title/tt0057012/" title="Stanley Kubrick (dir.), Peter Sellers, George C. Scott">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</a>
 <span class="secondaryInfo">(1964)</span>
 </td>, <td class="titleColumn">
       69.
       <a href="/title/tt4633694/" title="Bob Persichetti (dir.), Shameik Moore, Jake Johnson">Spider-Man: Into the Spider-Verse</a>
 <span class="secondaryInfo">(2018)</span>
 </td>, <td class="titleColumn">
       70.
       <a href="/title/tt7286456/" title="Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro">Joker</a>
 <span class="secondaryInfo">(2019)</span>
 </td>, <td class="titleColumn">
       71.
       <a href="/title/tt0364569/" title="Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-Tae">Oldboy</a>
 <span class="secondaryInfo">(2003)</span>
 </td>, <td class="titleColumn">
       72.
       <a href="/title/tt0112573/" title="Mel Gibson (dir.), Mel Gibson, Sophie Marceau">Braveheart</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       73.
       <a href="/title/tt0114709/" title="John Lasseter (dir.), Tom Hanks, Tim Allen">Toy Story</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       74.
       <a href="/title/tt0086879/" title="Milos Forman (dir.), F. Murray Abraham, Tom Hulce">Amadeus</a>
 <span class="secondaryInfo">(1984)</span>
 </td>, <td class="titleColumn">
       75.
       <a href="/title/tt2380307/" title="Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal">Coco</a>
 <span class="secondaryInfo">(2017)</span>
 </td>, <td class="titleColumn">
       76.
       <a href="/title/tt0361748/" title="Quentin Tarantino (dir.), Brad Pitt, Diane Kruger">Inglourious Basterds</a>
 <span class="secondaryInfo">(2009)</span>
 </td>, <td class="titleColumn">
       77.
       <a href="/title/tt0082096/" title="Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer">The Boat</a>
 <span class="secondaryInfo">(1981)</span>
 </td>, <td class="titleColumn">
       78.
       <a href="/title/tt4154796/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Evans">Avengers: Endgame</a>
 <span class="secondaryInfo">(2019)</span>
 </td>, <td class="titleColumn">
       79.
       <a href="/title/tt0119698/" title="Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida">Princess Mononoke</a>
 <span class="secondaryInfo">(1997)</span>
 </td>, <td class="titleColumn">
       80.
       <a href="/title/tt0087843/" title="Sergio Leone (dir.), Robert De Niro, James Woods">Once Upon a Time in America</a>
 <span class="secondaryInfo">(1984)</span>
 </td>, <td class="titleColumn">
       81.
       <a href="/title/tt10872600/" title="Jon Watts (dir.), Tom Holland, Zendaya">Spider-Man: No Way Home</a>
 <span class="secondaryInfo">(2021)</span>
 </td>, <td class="titleColumn">
       82.
       <a href="/title/tt0119217/" title="Gus Van Sant (dir.), Robin Williams, Matt Damon">Good Will Hunting</a>
 <span class="secondaryInfo">(1997)</span>
 </td>, <td class="titleColumn">
       83.
       <a href="/title/tt0435761/" title="Lee Unkrich (dir.), Tom Hanks, Tim Allen">Toy Story 3</a>
 <span class="secondaryInfo">(2010)</span>
 </td>, <td class="titleColumn">
       84.
       <a href="/title/tt0180093/" title="Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto">Requiem for a Dream</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       85.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>, <td class="titleColumn">
       86.
       <a href="/title/tt5311514/" title="Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi">Your Name.</a>
 <span class="secondaryInfo">(2016)</span>
 </td>, <td class="titleColumn">
       87.
       <a href="/title/tt0045152/" title="Stanley Donen (dir.), Gene Kelly, Donald O'Connor">Singin' in the Rain</a>
 <span class="secondaryInfo">(1952)</span>
 </td>, <td class="titleColumn">
       88.
       <a href="/title/tt0086190/" title="Richard Marquand (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode VI - Return of the Jedi</a>
 <span class="secondaryInfo">(1983)</span>
 </td>, <td class="titleColumn">
       89.
       <a href="/title/tt0105236/" title="Quentin Tarantino (dir.), Harvey Keitel, Tim Roth">Reservoir Dogs</a>
 <span class="secondaryInfo">(1992)</span>
 </td>, <td class="titleColumn">
       90.
       <a href="/title/tt0338013/" title="Michel Gondry (dir.), Jim Carrey, Kate Winslet">Eternal Sunshine of the Spotless Mind</a>
 <span class="secondaryInfo">(2004)</span>
 </td>, <td class="titleColumn">
       91.
       <a href="/title/tt0062622/" title="Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood">2001: A Space Odyssey</a>
 <span class="secondaryInfo">(1968)</span>
 </td>, <td class="titleColumn">
       92.
       <a href="/title/tt0057565/" title="Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada">High and Low</a>
 <span class="secondaryInfo">(1963)</span>
 </td>, <td class="titleColumn">
       93.
       <a href="/title/tt0033467/" title="Orson Welles (dir.), Orson Welles, Joseph Cotten">Citizen Kane</a>
 <span class="secondaryInfo">(1941)</span>
 </td>, <td class="titleColumn">
       94.
       <a href="/title/tt8267604/" title="Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw">Capernaum</a>
 <span class="secondaryInfo">(2018)</span>
 </td>, <td class="titleColumn">
       95.
       <a href="/title/tt0056172/" title="David Lean (dir.), Peter O'Toole, Alec Guinness">Lawrence of Arabia</a>
 <span class="secondaryInfo">(1962)</span>
 </td>, <td class="titleColumn">
       96.
       <a href="/title/tt0022100/" title="Fritz Lang (dir.), Peter Lorre, Ellen Widmann">M</a>
 <span class="secondaryInfo">(1931)</span>
 </td>, <td class="titleColumn">
       97.
       <a href="/title/tt0053125/" title="Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint">North by Northwest</a>
 <span class="secondaryInfo">(1959)</span>
 </td>, <td class="titleColumn">
       98.
       <a href="/title/tt2106476/" title="Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen">The Hunt</a>

In [29]:
# parsing the movie names
movies = []
for movie in scraped_movies:
    movie = movie.get_text().replace('\n', "")
    movie = movie.strip(" ")
    movies.append(movie)
movies

['1.      The Shawshank Redemption(1994)',
 '2.      The Godfather(1972)',
 '3.      The Dark Knight(2008)',
 '4.      The Godfather: Part II(1974)',
 '5.      12 Angry Men(1957)',
 "6.      Schindler's List(1993)",
 '7.      The Lord of the Rings: The Return of the King(2003)',
 '8.      Pulp Fiction(1994)',
 '9.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '10.      The Good, the Bad and the Ugly(1966)',
 '11.      Forrest Gump(1994)',
 '12.      Fight Club(1999)',
 '13.      Inception(2010)',
 '14.      The Lord of the Rings: The Two Towers(2002)',
 '15.      Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.      The Matrix(1999)',
 '17.      Goodfellas(1990)',
 "18.      One Flew Over the Cuckoo's Nest(1975)",
 '19.      Se7en(1995)',
 '20.      Seven Samurai(1954)',
 "21.      It's a Wonderful Life(1946)",
 '22.      The Silence of the Lambs(1991)',
 '23.      Saving Private Ryan(1998)',
 '24.      City of God(2002)',
 '25.      Life Is Beautiful(1997)',
 '26.      The Green Mile(1999)',
 '27.      Star Wars(1977)',
 '28.      Interstellar(2014)',
 '29.      Terminator 2: Judgment Day(1991)',
 '30.      Back to the Future(1985)',
 '31.      Spirited Away(2001)',
 '32.      Psycho(1960)',
 '33.      The Pianist(2002)',
 '34.      Léon: The Professional(1994)',
 '35.      Parasite(2019)',
 '36.      The Lion King(1994)',
 '37.      Gladiator(2000)',
 '38.      American History X(1998)',
 '39.      The Usual Suspects(1995)',
 '40.      The Departed(2006)',
 '41.      The Prestige(2006)',
 '42.      Casablanca(1942)',
 '43.      Whiplash(2014)',
 '44.      The Intouchables(2011)',
 '45.      Modern Times(1936)',
 '46.      Once Upon a Time in the West(1968)',
 '47.      Hara-Kiri(1962)',
 '48.      Grave of the Fireflies(1988)',
 '49.      Alien(1979)',
 '50.      Rear Window(1954)',
 '51.      City Lights(1931)',
 '52.      Memento(2000)',
 '53.      Cinema Paradiso(1988)',
 '54.      Apocalypse Now(1979)',
 '55.      Indiana Jones and the Raiders of the Lost Ark(1981)',
 '56.      Django Unchained(2012)',
 '57.      WALL·E(2008)',
 '58.      The Lives of Others(2006)',
 '59.      Sunset Blvd.(1950)',
 '60.      The Shining(1980)',
 '61.      Paths of Glory(1957)',
 '62.      The Great Dictator(1940)',
 '63.      Avengers: Infinity War(2018)',
 '64.      Witness for the Prosecution(1957)',
 '65.      Aliens(1986)',
 '66.      American Beauty(1999)',
 '67.      The Dark Knight Rises(2012)',
 '68.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '69.      Spider-Man: Into the Spider-Verse(2018)',
 '70.      Joker(2019)',
 '71.      Oldboy(2003)',
 '72.      Braveheart(1995)',
 '73.      Toy Story(1995)',
 '74.      Amadeus(1984)',
 '75.      Coco(2017)',
 '76.      Inglourious Basterds(2009)',
 '77.      The Boat(1981)',
 '78.      Avengers: Endgame(2019)',
 '79.      Princess Mononoke(1997)',
 '80.      Once Upon a Time in America(1984)',
 '81.      Spider-Man: No Way Home(2021)',
 '82.      Good Will Hunting(1997)',
 '83.      Toy Story 3(2010)',
 '84.      Requiem for a Dream(2000)',
 '85.      3 Idiots(2009)',
 '86.      Your Name.(2016)',
 "87.      Singin' in the Rain(1952)",
 '88.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '89.      Reservoir Dogs(1992)',
 '90.      Eternal Sunshine of the Spotless Mind(2004)',
 '91.      2001: A Space Odyssey(1968)',
 '92.      High and Low(1963)',
 '93.      Citizen Kane(1941)',
 '94.      Capernaum(2018)',
 '95.      Lawrence of Arabia(1962)',
 '96.      M(1931)',
 '97.      North by Northwest(1959)',
 '98.      The Hunt(2012)',
 '99.      Vertigo(1958)',
 '100.      Amélie(2001)',
 '101.      A Clockwork Orange(1971)',
 '102.      Full Metal Jacket(1987)',
 '103.      Scarface(1983)',
 '104.      Come and See(1985)',
 '105.      Double Indemnity(1944)',
 '106.      The Apartment(1960)',
 '107.      Taxi Driver(1976)',
 '108.      To Kill a Mockingbird(1962)',
 '109.      Up(2009)',
 '110.      The Sting(1973)',
 '111.      L.A. Confidential(1997)',
 '112.      Heat(1995)',
 '113.      Hamilton(2020)',
 '114.      Ikiru(1952)',
 '115.      Snatch(2000)',
 '116.      Die Hard(1988)',
 '117.      Indiana Jones and the Last Crusade(1989)',
 '118.      A Separation(2011)',
 '119.      Metropolis(1927)',
 '120.      Incendies(2010)',
 '121.      Bicycle Thieves(1948)',
 '122.      1917(2019)',
 '123.      Like Stars on Earth(2007)',
 '124.      Batman Begins(2005)',
 '125.      For a Few Dollars More(1965)',
 '126.      Dangal(2016)',
 '127.      Downfall(2004)',
 '128.      The Kid(1921)',
 '129.      Some Like It Hot(1959)',
 '130.      The Father(2020)',
 '131.      All About Eve(1950)',
 '132.      The Batman(2022)',
 '133.      The Wolf of Wall Street(2013)',
 '134.      Green Book(2018)',
 '135.      Casino(1995)',
 '136.      Unforgiven(1992)',
 '137.      Judgment at Nuremberg(1961)',
 "138.      Pan's Labyrinth(2006)",
 '139.      Ran(1985)',
 '140.      A Beautiful Mind(2001)',
 '141.      The Sixth Sense(1999)',
 '142.      There Will Be Blood(2007)',
 '143.      Monty Python and the Holy Grail(1975)',
 '144.      The Truman Show(1998)',
 '145.      Yojimbo(1961)',
 '146.      The Treasure of the Sierra Madre(1948)',
 '147.      Shutter Island(2010)',
 '148.      The Great Escape(1963)',
 '149.      Rashomon(1950)',
 '150.      Jurassic Park(1993)',
 '151.      Kill Bill: Vol. 1(2003)',
 '152.      No Country for Old Men(2007)',
 '153.      Finding Nemo(2003)',
 '154.      Raging Bull(1980)',
 '155.      The Elephant Man(1980)',
 '156.      V for Vendetta(2005)',
 '157.      Gone with the Wind(1939)',
 '158.      Chinatown(1974)',
 '159.      Inside Out(2015)',
 '160.      Lock, Stock and Two Smoking Barrels(1998)',
 '161.      The Thing(1982)',
 '162.      Dial M for Murder(1954)',
 '163.      The Secret in Their Eyes(2009)',
 "164.      Howl's Moving Castle(2004)",
 '165.      The Bridge on the River Kwai(1957)',
 '166.      Trainspotting(1996)',
 '167.      Three Billboards Outside Ebbing, Missouri(2017)',
 '168.      Warrior(2011)',
 '169.      Gran Torino(2008)',
 '170.      Fargo(1996)',
 '171.      My Neighbor Totoro(1988)',
 '172.      Prisoners(2013)',
 '173.      Million Dollar Baby(2004)',
 '174.      Blade Runner(1982)',
 '175.      Catch Me If You Can(2002)',
 '176.      The Gold Rush(1925)',
 '177.      On the Waterfront(1954)',
 '178.      Children of Heaven(1997)',
 '179.      Harry Potter and the Deathly Hallows: Part 2(2011)',
 '180.      The Third Man(1949)',
 '181.      Gone Girl(2014)',
 '182.      12 Years a Slave(2013)',
 '183.      Ben-Hur(1959)',
 '184.      The General(1926)',
 '185.      The Deer Hunter(1978)',
 '186.      Before Sunrise(1995)',
 '187.      Wild Strawberries(1957)',
 '188.      In the Name of the Father(1993)',
 '189.      The Grand Budapest Hotel(2014)',
 '190.      Mr. Smith Goes to Washington(1939)',
 '191.      Room(2015)',
 '192.      Hacksaw Ridge(2016)',
 '193.      Sherlock Jr.(1924)',
 '194.      How to Train Your Dragon(2010)',
 '195.      The Wages of Fear(1953)',
 '196.      Barry Lyndon(1975)',
 '197.      Memories of Murder(2003)',
 '198.      Pather Panchali(1955)',
 '199.      The Seventh Seal(1957)',
 '200.      Klaus(2019)',
 '201.      Mad Max: Fury Road(2015)',
 '202.      The Big Lebowski(1998)',
 '203.      Wild Tales(2014)',
 '204.      Monsters, Inc.(2001)',
 '205.      Mary and Max(2009)',
 '206.      Jaws(1975)',
 '207.      The Passion of Joan of Arc(1928)',
 '208.      Hotel Rwanda(2004)',
 '209.      Rocky(1976)',
 '210.      Dead Poets Society(1989)',
 '211.      Tokyo Story(1953)',
 '212.      Platoon(1986)',
 '213.      Ford v Ferrari(2019)',
 '214.      The Terminator(1984)',
 '215.      Stand by Me(1986)',
 '216.      Rush(2013)',
 '217.      Into the Wild(2007)',
 '218.      Logan(2017)',
 '219.      The Wizard of Oz(1939)',
 '220.      Spotlight(2015)',
 '221.      Network(1976)',
 '222.      Groundhog Day(1993)',
 '223.      Ratatouille(2007)',
 '224.      The Exorcist(1973)',
 "225.      Hachi: A Dog's Tale(2009)",
 '226.      The Incredibles(2004)',
 '227.      Before Sunset(2004)',
 '228.      The Best Years of Our Lives(1946)',
 '229.      Rebecca(1940)',
 '230.      My Father and My Son(2005)',
 '231.      Dersu Uzala(1975)',
 '232.      Cool Hand Luke(1967)',
 '233.      The Grapes of Wrath(1940)',
 '234.      Pirates of the Caribbean: The Curse of the Black Pearl(2003)',
 '235.      To Be or Not to Be(1942)',
 '236.      The Battle of Algiers(1966)',
 '237.      Amores perros(2000)',
 '238.      The Sound of Music(1965)',
 '239.      Life of Brian(1979)',
 '240.      The 400 Blows(1959)',
 '241.      Persona(1966)',
 '242.      It Happened One Night(1934)',
 '243.      La Haine(1995)',
 '244.      Aladdin(1992)',
 '245.      Beauty and the Beast(1991)',
 '246.      Dune(2021)',
 '247.      Gandhi(1982)',
 '248.      The Help(2011)',
 '249.      The Handmaiden(2016)',
 '250.      Dances with Wolves(1990)']

In [30]:
# scrapping rating for movies
scraped_ratings = soup.find_all('td', class_='ratingColumn imdbRating')
scraped_ratings

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,570,752 user ratings">9.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="9.2 based on 1,770,164 user ratings">9.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,536,633 user ratings">9.0</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,224,317 user ratings">9.0</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 759,225 user ratings">9.0</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,309,693 user ratings">8.9</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,768,483 user ratings">8.9</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,973,346 user ratings">8.9</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,790,141 user ratings">8.8</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 739,214 user ratings">8.8</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,983,060 user ratings">8.8</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 2,022,978 user ratings">8.8</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,256,317 user ratings">8.7</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,597,661 user ratings">8.7</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,243,701 user ratings">8.7</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,850,020 user ratings">8.7</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,109,325 user ratings">8.7</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 979,095 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,576,555 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 337,622 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 442,857 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,378,247 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,339,162 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 738,477 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 673,312 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,250,045 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,315,202 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,714,863 user ratings">8.6</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,063,285 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,153,925 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 726,625 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 650,230 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 800,827 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,120,665 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 732,723 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,018,327 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,446,474 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,092,316 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,056,600 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,279,591 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,287,468 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 557,264 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 801,853 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 826,992 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 236,129 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 322,147 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 53,253 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 264,763 user ratings">8.5</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 849,226 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 478,568 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 180,845 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,202,225 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 253,260 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 647,890 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 939,829 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,485,781 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,078,118 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 381,832 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 216,660 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 979,397 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 192,413 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 219,222 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,000,660 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 121,353 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 696,602 user ratings">8.4</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,128,167 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,641,982 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 478,263 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 482,163 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,174,130 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 558,963 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,013,086 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 958,296 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 391,982 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 471,535 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,385,946 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 246,197 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,035,868 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 379,624 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 341,040 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 575,867 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 932,502 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 809,672 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 817,204 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 383,309 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 246,561 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 235,756 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,016,325 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 986,059 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 976,169 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 648,580 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 42,330 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 432,713 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 83,604 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 286,818 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 154,610 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 320,331 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 317,383 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 392,902 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 740,697 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 806,413 user ratings">8.3</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 720,657 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 806,396 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 73,922 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 153,672 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 177,353 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 791,094 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 310,662 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,008,786 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 256,505 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 568,953 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 630,452 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 85,386 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 76,318 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 833,219 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 853,927 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 735,309 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 240,311 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 170,898 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 170,826 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 160,083 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 542,720 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 187,458 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,417,440 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 250,435 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 180,945 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 349,028 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 123,968 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 261,135 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 131,151 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 129,071 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 314,199 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,330,920 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 459,102 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 503,490 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 402,341 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 75,894 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 653,750 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 122,742 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 905,989 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 964,955 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 566,515 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 529,433 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,028,818 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 120,336 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 122,573 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,249,727 user ratings">8.2</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 239,803 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 164,758 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 940,510 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,078,689 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 936,134 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,012,411 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 344,599 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 236,007 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,094,839 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 308,915 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 318,236 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 683,028 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 568,823 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 407,291 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 171,640 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 205,562 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 376,114 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 216,268 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 671,306 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 486,894 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 461,526 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 758,956 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 661,255 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 325,143 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 673,793 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 672,852 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 745,249 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 931,998 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 109,283 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 152,066 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,147 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 840,157 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 168,893 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 945,570 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 682,970 user ratings">8.1</strong>
 </td>, <td class="ratingColumn imdbRating">

In [31]:
# parsing ratings
ratings = []
for rating in scraped_ratings:
    rating = rating.get_text().replace('\n', '')
    ratings.append(rating)
ratings

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [32]:
data = pd.DataFrame() #creating a data frame and adding Movie Names & Ratings columns into it.
data['Movie Names'] = movies
data['Ratings'] = ratings
data.head()

                              Movie Names Ratings
0  1.      The Shawshank Redemption(1994)     9.2
1             2.      The Godfather(1972)     9.2
2           3.      The Dark Knight(2008)     9.0
3    4.      The Godfather: Part II(1974)     9.0
4              5.      12 Angry Men(1957)     9.0

In [33]:
data.to_csv('IMDB Top Movies.csv', index=False) #storing the entire data into the csv file.

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data

In [34]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''Please write you answer here:

 I have choosen the dataset named SuperMarket sales data from Kaggle.
Dataset:
- Link: https://www.kaggle.com/aungpyaeap/supermarket-sales
- There are different attributes like date, Branch, Cogs and other attributes in the dataset.


Steps to Clean the data:
- we convert all the dates which are inappropriate dates.
- Dropping unnecessary rows in a DataFrame.
- Changing the index of a DataFrame.
- Using . str() methods to clean columns having numericals in place of strings.
- Using the DataFrame. applymap() function to clean the entire dataset, element-wise.
- Skipping unnecessary rows in a CSV file.Remove all the stopwords from the data.
- Remove special characters and unwanted spaces from the data.
- Check if there is any NULL or Blank values  in the data.
- If there is any imbalance, we use SMOTE technique to balance the data by performing over sampling and under sampling.
'''

'Please write you answer here:\n\n I have choosen the dataset named SuperMarket sales data from Kaggle.\nDataset:\n- Link: https://www.kaggle.com/aungpyaeap/supermarket-sales\n- There are different attributes like date, Branch, Cogs and other attributes in the dataset.\n\n\nSteps to Clean the data:\n- we convert all the dates which are inappropriate dates.\n- Dropping unnecessary rows in a DataFrame.\n- Changing the index of a DataFrame.\n- Using . str() methods to clean columns having numericals in place of strings.\n- Using the DataFrame. applymap() function to clean the entire dataset, element-wise.\n- Skipping unnecessary rows in a CSV file.Remove all the stopwords from the data.\n- Remove special characters and unwanted spaces from the data.\n- Check if there is any NULL or Blank values  in the data.\n- If there is any imbalance, we use SMOTE technique to balance the data by performing over sampling and under sampling.\n'

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import pandas as pd
import glob
final_res_df = pd.DataFrame() # final result data frame

In [37]:
# Using for loop,iterating through datasets TwADR-L,AskAPatient
for i in ['TwADR-L', 'AskAPatient']:
    res = {}  #creating res dictionary
    dframe = pd.DataFrame()        #Creating dataframe 'dframe'
    for path in glob.glob('/content/drive/MyDrive/datasets/{}/*.txt'.format(i)):
        data = pd.read_csv(path, sep = "\t", header = None, encoding= 'unicode_escape')
        dframe = dframe.append(data)
    dframe = dframe.reset_index(drop=True)   # Creating combined dataframe by combining each dataset text files.
    dframe['phrase_label'] = dframe[1] + " " + dframe[2]
    dframe.columns = ['id', 'labels', 'phrases', 'phrase-label']
    dframe = dframe.astype({"id": str})      # type casting the id column to str
    for columns in dframe.columns:           # converting all values to lower case
        dframe[columns] = dframe[columns].str.lower() 
    dframe = dframe.drop_duplicates('phrase-label')   # removing duplicate phrase-label pairs

                                                          
    res['Unique_phrases'] = len(dframe['phrases'].unique()) # Storing the resukts into the res dictionary
    res['Unique_labels'] = len(dframe['labels'].unique())
    res['Unique_phrase_label_pairs'] = dframe.shape[0]
    dframe1 = pd.DataFrame(dframe['phrases'].value_counts())
    res['Phrases with multiple labels'] = dframe1[dframe1['phrases'] > 1].shape[0]
    res['Mininum examples per label'] = dframe['labels'].value_counts().values.min()
    res['Maximum examples per label'] = dframe['labels'].value_counts().values.max()
    res['Average no of examples per label'] = round(dframe['labels'].value_counts().mean(), 2)
    final_res_df = final_res_df.append(res, ignore_index=True) #using res dictionary, appending the final_res_df dataframe


final_res_df = final_res_df.T
final_res_df.columns = ['TwADR-L', 'AskAPatient']

final_res_df

                                  TwADR-L  AskAPatient
Unique_phrases                    2944.00      4470.00
Unique_labels                     2220.00      1038.00
Unique_phrase_label_pairs         3157.00      4507.00
Phrases with multiple labels       173.00        35.00
Mininum examples per label           1.00         1.00
Maximum examples per label          36.00       141.00
Average no of examples per label     1.42         4.34

In [38]:
import pandas as pd
import glob
final_res_df = pd.DataFrame()
# Using for loop,iterating through datasets TwADR-L,AskAPatient
for i in ['TwADR-L', 'AskAPatient']: 
    dframe = pd.DataFrame()
    res = {}  #creating res dictionary
    for path in glob.glob('/content/drive/MyDrive/datasets/{}/*.txt'.format(i)):
        data = pd.read_csv(path, sep = "\t", header = None, encoding= 'unicode_escape')# reading the data from the path having datasets.
        dframe = dframe.append(data)
    
    dframe = dframe.reset_index(drop=True) # Creating combined dataframe by combining each dataset text files.
    dframe['phrase_label'] = dframe[1] + " " + dframe[2]
    dframe.columns = ['id', 'labels', 'phrases', 'phrase-label']
    
    dframe = dframe.astype({"id": str}) # type casting the id column to str
   
    for columns in dframe.columns:      # converting all values to lower case
        dframe[columns] = dframe[columns].str.lower() 

 
    dframe = dframe.drop_duplicates('phrase-label') # removing duplicate phrase-label pairs
    index = []
    for i in range(dframe.shape[0]):
        if dframe['labels'].value_counts()[dframe.iloc[i]['labels']] < 5:
            index.append(i)

    # Dropping the labels that have the count less than 5.
    dframe.drop(dframe.index[index], inplace=True)
    res = {}
    res['Unique_phrases'] = len(dframe['phrases'].unique())# storing results of the table in dictionary 'res'
    res['Unique_labels'] = len(dframe['labels'].unique())
    res['Unique_phrase_label_pairs'] = dframe.shape[0]
    dframe1 = pd.DataFrame(dframe['phrases'].value_counts())
    res['Phrases with multiple labels'] = dframe1[dframe1['phrases'] > 1].shape[0]
    res['Minimum examples per label'] = dframe['labels'].value_counts().values.min()
    res['Maximum examples per label'] = dframe['labels'].value_counts().values.max()
    res['Average no of examples per label'] = round(dframe['labels'].value_counts().mean(), 2)
    final_res_df = final_res_df.append(res, ignore_index=True)  #using res dictionary, appending the final_res_df dataframe

final_res_df = final_res_df.T
final_res_df.columns = ['TwADR-L', 'AskAPatient']
final_res_df

                                  TwADR-L  AskAPatient
Unique_phrases                     616.00      2665.00
Unique_labels                       76.00       233.00
Unique_phrase_label_pairs          721.00      2686.00
Phrases with multiple labels        87.00        19.00
Minimum examples per label           5.00         5.00
Maximum examples per label          36.00       141.00
Average no of examples per label     9.49        11.53